.dashboardContainer {
  text-align: center;
  margin-top: 2rem;
  background-color: white;
  color: #1a1f4f;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer {
  width: 80%; /* Set width to 80% of the body */
  max-width: 1200px; /* Optional: Set a maximum width to prevent it from getting too large */
  margin: 0 auto; /* Center horizontally */
}

.messageContainer {
  margin-top: 1rem;
}

.praiseMessage, .encouragementMessage {
  color: #1a1f4f;
  font-size: 20px;
}
