
  .Hero {
    background-color: #1a1f4f;
    text-align: center;
    padding: 70px 20px;
    width: 100vw; 
    color:white;
    margin: 0; 
    margin-top: 50px;
 
}
.Hero h3{
  font-size: 18px;
  color: #ffa300;
  font-style: oblique;
  padding-top: 0;
}

.Hero p{
 font-size: 20px;
}
@media screen and (max-width:670px){
 .Hero{
padding-left: 5px;
font-size: 14px;
height: auto;
margin: 0;
z-index: 1; 
 }
}