.howToUseContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 800px;
  /* margin: 0 auto; */
  font-family: Arial, sans-serif;
  color: #1a1f4f;
  margin-top: 50px;
}

.howToUseContainer h2 {
  color: #1a1f4f;
  margin-bottom: 10px;
}

.howToUseContainer h3 {
  color: #1a1f4f;
  margin-top: 20px;
}

.howToUseContainer p {
  color: #1a1f4f;
  line-height: 1.6;
}

.howToUseContainer ul {
  list-style-type: disc;
  padding-left: 20px;
}

.howToUseContainer li {
  margin-bottom: 10px;
}
