.Landingpage{
  margin: 0 auto;
}
 #landing{
  
  height: 50vh;
  margin-top: 30px;
  padding-top: 35px;
 }
 
#landing h1{
  font-size: 32px;
  margin-bottom: 10px;
  
}

#landing h3{
  font-style: oblique;
  font-size: 14px;
  color: #ffa500;
  font-weight: bolder;
  
}

#landing p{
  font-size: 22px;
  font-weight: 300;
}

.Landingpage {
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.foot{
  background-color: white;
}