.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1f4f;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid white;
  position: fixed;
   top: 0;
  left: 0;
  right: 0; 
height: auto;
}

.logo {
  height: 30px;
  margin-left: 30px;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 80px;
}

.navlinks li {
  display: inline;
  font-weight: bolder;
  
}

.navlinks a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s;
}

.navlinks a:hover {
  color: #ddd;
}

