.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #1a1f4f;
  border-radius: 10px;
  background-color: white;
  color:#1a1f4f ;
}

.container h2 {
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  
  
}

.container input {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;

 
  
}

.container button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button[type="submit"] {
  background-color: #1a1f4f;
  color: white;
}


.loginlink {
  color: #ffa500;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.loginlink:hover {
  text-decoration: underline;
}
