.searchSection {
  padding: 10px;
  width: calc(50% - 20px); 
  box-sizing: border-box; 
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
}

.searchInput {
  width: 50%; 
  padding: 20px;  
  font-size: 16px; 
  margin-bottom: 10px;
  box-sizing: border-box; 
}

.editButton,
.deleteButton {
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

.editButton {
  background-color: #1a1f4f;
  color: white;
  border: 2px solid #ffa300;
}

.deleteButton {
  background-color: #ffa300;
  color: white;
  border: 2px solid #1a1f4f;
}

.transactionDetails {
  color: white;
}

.editSection {
  margin-top: 20px;
  padding: 10px;
  background-color: #1a1f4f;
  color: #ffff;
}

.saveButton {
  padding: 10px 20px;
  margin: 5px;
  background-color: #1a1f4f;
  color: white;
  border: 2px solid #ffa300;
  cursor: pointer;
}

.cancelButton {
  padding: 10px 20px;
  margin: 5px;
  background-color: #ffa300;
  color: white;
  border: 2px solid #1a1f4f;
  cursor: pointer;
}
