@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  background-color: #1a1f4f;
    color: white;
    height: 100vh;
  
}


